NEXT_PUBLIC_API_URL=https://artspaceapi-stagging.illuminati.com.mm
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_PAYMENT_API_URL=https://pg.mmgbpay.com
NEXT_PUBLIC_ENABLE_ANALYTICS=true
NEXT_PUBLIC_GA_ID="G-xxxxxxxxxx"
NODE_ENV="production"
NEXT_PUBLIC_IMAGE_HOSTNAME="artspaceapi-stagging.illuminati.com.mm"
NEXT_PUBLIC_TZ="Asia/Yangon"
PAYMENT_API_TOKEN='7a470ce6-xxxx'
